@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Poppins:wght@300;400;500;600&family=Teko&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background:linear-gradient(-135deg, black, red)
}
.container{
    display: flex;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.page{
    background-color: #FFF;
    height: 500px;
    width: 330px;
    padding: 10px 20px;
    border-radius: 7px;
    box-shadow: 5px 15px 20px    
}
.menu{
    position: relative;
    top: 20px;
}
.menu input{
    font-size: large;
    margin: 5px;
    height: 40px;
    width: 98%;
    border: none;
    outline: none;
    position: relative;
    top: 6px;
}
.underline:before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #ccc;
}
.underline:after{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background:linear-gradient(-135deg, black, red);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease;
}
.container .menu input:focus ~ .underline:after,
.container .menu input:valid ~ .underline:after{
    transform: scaleX(1);
    transform-origin: left;
}

.btn{
    position: relative;
    top: 50px;
    right:11px;
    border-radius: 15px;
    transition: all 0.3s ease;
}
.btn button{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    height:40px;
    border-radius:5px;
    width: 96%;
    border: none;
    color: #FFF;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn .con{
    background:linear-gradient(to right, black, red);
    transition: all 0.3s ease ;
}
.btn .con:hover{
    letter-spacing: 2px;
    background:linear-gradient(to left, black, red)

}
.btn  p{
    position: relative;
    right: 5px;
    font-size: 15px;
    font-weight: 400;
    width: 295px;
    margin-top: 20px;
    text-align: center;  
}
.bag{
    position: relative;
    top: 35px;
}
.bag button{
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 300;
}
.bag .tweet1{
    background-color:#0766AD;
    color: fff;
    position: relative;
}
.bag .tweet1:hover{
    background-color: darkblue;

}
.bag .tweet{
    background-color:#6499E9;
}
.bag .tweet:hover{
    background-color:darkblue;
}
.savage{
    position: relative;
    right: 10px; 
}
.savage:hover{
    color: skyblue;
}
.savage1{
    position: relative;
    left: 15px;
    margin-right: 20px;
}
.savage1:hover{
    color: skyblue;
}
.page span{
    color: #0766AD;
    text-decoration:underline #0766AD;
}